[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "httkexamples"]
	path = httkexamples
	url = https://github.com/cran/httkexamples
